button {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.8rem 1.4rem;
  outline: none;
  border-radius: 1rem;
  background: #73cefe;
  cursor: pointer;
  transition: all 0.5s ease;
}

button:hover {
  background: #12acff;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0px);
}
